<html>
<head>
    <title>Presentation DataTable - Example 1 </title>
<script type="text/javascript" src="//code.jquery.com/jquery-1.12.4.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
      <link rel="stylesheet" href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css" />

<script type="text/javascript" src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.3.1/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" src="//cdn.datatables.net/buttons/1.3.1/js/buttons.flash.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script type="text/javascript" src="//cdn.rawgit.com/bpampuch/pdfmake/0.1.27/build/pdfmake.min.js"></script>
<script type="text/javascript" src="//cdn.rawgit.com/bpampuch/pdfmake/0.1.27/build/vfs_fonts.js"></script>
<script type="text/javascript" src="//cdn.datatables.net/buttons/1.3.1/js/buttons.html5.min.js"></script>
<script type="text/javascript" src="//cdn.datatables.net/buttons/1.3.1/js/buttons.print.min.js"></script>


    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.3.1/css/buttons.dataTables.min.css" />

<style type="text/css">
    
.not_alive {
    color: lightgray;
}

</style>

<script type="text/javascript">


$(document).ready(function() {
    dt = $('#example').DataTable( {
        "ajax": {
            "url": "devices",
            "dataSrc": ""
        },
        "headers": ["Port"],
        "columns": [
            { "data": "port" },
            { "data": "id" },
            { "data": "ttl" },
            { "data": "capability" },
            { "className": "input",  "defaultContent": "", "sortable": false }
        ],
        "columnDefs": [ {
            "targets": 4,
            "createdCell": function (td, cellData, rowData, row, col) {
                //console.log(td)
            }
          } ],
        "createdRow": function ( row, data, dataIndex ) {
            if ( ! data['alive'] ) {
              $(row).addClass( 'not_alive' );
            }
        },
        dom: 'Bfrtip',
        buttons: [
        {
            text: 'Add gyro',
            action: function ( e, dt, node, config ) {
                $.get('http://localhost:5000/add_device?type=gyro', function(data) {

                    $( "#console" ).prepend( $( "<li></li>" ).text(data) );
                });
            },
            key: { altKey: true, key: 'g' }
        },
        {
            text: 'Add LED',
            action: function ( e, dt, node, config ) {
                $.get('http://localhost:5000/add_device?type=led', function(data) {

                    $( "#console" ).prepend( $( "<li></li>" ).text(data) );
                });
            },
            key: { altKey: true, key: 'l' }
        }
        ]
    } );



    setInterval( dt.ajax.reload, 1000 );

} );

</script>
</head>
<body>




<table id="example" class="display" width="100%"></table>
<ul id="console" width="100%">
</ul>



</body>
</html>